@use "./vars.scss";

.header {
  &_container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: vars.$container-sm) {
      & {
        max-width: vars.$container-sm;
      }
    }
    @media (min-width: vars.$container-lg) {
      & {
        max-width: vars.$container-lg;
      }
    }
  }

  &_navBlock {
    display: flex;
    align-items: center;
    gap: 2rem;
    @media (max-width: vars.$container-lg) {
      & {
        gap: 0;
      }
    }
    .navBlock {
      &_contact {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.5rem;
        letter-spacing: 0.025em;
        display: flex;
        align-items: center;
        gap: 10px;
        &_telNumber {
          @media (max-width: vars.$container-lg) {
            & {
              display: none;
            }
          }
        }
      }
      &_contact,
      &_contact > span,
      &_profile {
        color: vars.$gold;
        &:hover *,
        &:hover {
          color: vars.$dark;
          stroke: vars.$dark;
        }
      }
      &_actionsList {
        display: flex;
        align-items: center;
        @media (max-width: vars.$container-lg) {
          & {
            margin-right: 1rem;
          }
        }
      }
      &_favorite {
        position: relative;

        &:hover > svg * {
          stroke: vars.$dark;
        }
        &_counter {
          display: none;
          position: absolute;
          top: 0;
          right: -2.5px;
          background-color: vars.$dark;
          border-radius: 9999px;
          -webkit-border-radius: 9999px;
          -moz-border-radius: 9999px;
          -ms-border-radius: 9999px;
          -o-border-radius: 9999px;
          padding: 3px 2px;
          color: #fff;
          font-size: 0.5rem;
          font-weight: 500;
          line-height: 1;
          z-index: 1;
          &:hover {
            color: #fff;
          }
          &-active {
            display: inline;
          }
        }
      }
      &_profile {
        &:hover * {
          fill: vars.$dark;
        }
      }
      &_menuBtn {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 25%;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
        }
        &::after,
        &::before {
          width: 1.25rem;
          height: 1px;
          background-color: vars.$dark;
        }
        &:hover {
          &::after,
          &::before {
            background-color: vars.$gold;
          }
          &::before {
            top: calc(25% - 2px);
          }
          &::after {
            top: calc(50% + 2px);
          }
        }
      }
    }
  }
  &_divider {
    border-top: 1px solid vars.$gray-dark;
    width: 100%;
  }
}
