.menuOverlay {
  &_container {
    display: none;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 10;
    .menuOverlay {
      &_header {
        @apply container flex items-center justify-between my-4;
        &_closeBtn {
          @apply relative w-8 h-8;
          &:hover {
            &:after,
            &:before {
              @apply bg-gold;
            }
          }
          &:after,
          &:before {
            content: "";
            display: block;

            @apply w-7 h-[1.5px] bg-dark absolute left-1/2 top-1/2 -translate-x-1/2;
          }
          &:before {
            @apply rotate-45;
          }
          &:after {
            @apply -rotate-45;
          }
        }
      }
      &_content {
        @apply h-full items-center justify-center grid gap-x-8;
        grid-template-columns: repeat(12, 4rem);

        @media (max-width: theme("screens.xl")) {
          & {
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(2, 1fr);
            @apply gap-x-2 justify-start mx-4;
          }
        }
      }
      &_nav {
        &_container {
          .menuOverlay_nav {
            &_title {
              @apply font-medium text-2xl leading-none;
              @media (max-width: theme("screens.xl")) {
                & {
                  @apply text-xl leading-none;
                }
              }
            }
          }
          & > ul {
            list-style-type: none;
            @apply flex flex-col gap-4 text-base mt-6 text-dark text-opacity-80;
            @media (max-width: theme("screens.xl")) {
              & {
                @apply mt-4;
              }
            }
          }
          &:first-child {
            @apply col-span-3;
            @media (max-width: theme("screens.xl")) {
              & {
                @apply col-span-4;
              }
            }
          }
          &:last-child {
            grid-column: 7 / span 3;
            @media (max-width: theme("screens.xl")) {
              & {
                grid-row: 2;
                @apply col-span-4;
              }
            }
          }
        }
        &_item:hover {
          @apply text-gold;
        }
      }
    }
  }
}
