$danger: #eb5757;
$danger-light: #c07474;
$brown: #c08d74;
$gold: rgba(208, 188, 122, 1);
$gold-50: rgba(208, 188, 122, 0.5);
$orange-light: #ea976f;
$dark: #21242e;
$dark-40: rgba(33, 36, 46, 0.4);
$dark-80: rgba(33, 36, 46, 0.8);
$gray: #f7f7f7;
$gray-dark: #e4e4e4;
$border-dark: rgba(33, 36, 46, 0.4);
$container-sm: 343px;
$container-lg: 1205px;
$font-times: "Times New Roman", Times, serif;
