<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>@@title</title>
    <script type="module">
      document.documentElement.classList.remove("no-js");
      document.documentElement.classList.add("js");
    </script>
    <meta name="description" content="Page Description" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.css"
    />
    <link rel="stylesheet" href="./minify/css/style.min.css" />
  </head>

  <body>
    @@include('./menuOverlay.html')

    <header class="header_container">
      <a href="#" class="header_logo">
        @@include('../assets/images/dist/logo.svg')
      </a>
      <div class="header_navBlock">
        <a href="tel:+78005553535" class="navBlock_contact">
          @@include('../assets/images/dist/call.svg')
          <span class="navBlock_contact_telNumber"> 8 (800) 555-35-35 </span>
        </a>
        <div class="navBlock_actionsList">
          <button type="button" class="navBlock_favorite">
            @@include('../assets/images/dist/heart.svg')
            <span class="navBlock_favorite_counter"></span>
          </button>
          <button type="button" class="navBlock_profile">
            @@include('../assets/images/dist/user.svg')
          </button>
        </div>
        <button
          type="button"
          class="navBlock_menuBtn"
          id="menuOverlay"
        ></button>
      </div>
    </header>

    <hr class="header_divider" />
  </body>
</html>
