<div class="menuOverlay_container">
  <div class="menuOverlay_header">
    <a class="menuOverlay_header_logo"
      >@@include('../assets/images/dist/logo.svg')</a
    >
    <button type="button" class="menuOverlay_header_closeBtn"></button>
  </div>
  <div class="menuOverlay_content">
    <div class="menuOverlay_nav_container">
      <span class="menuOverlay_nav_title">Продукция</span>
      <ul>
        <li><a class="menuOverlay_nav_item" href="#">Пигменты</a></li>
        <li><a class="menuOverlay_nav_item" href="#">Пигменты</a></li>
        <li><a class="menuOverlay_nav_item" href="#">Аппараты</a></li>
        <li><a class="menuOverlay_nav_item" href="#">Иглы</a></li>
        <li>
          <a class="menuOverlay_nav_item" href="#">Расходные материалы</a>
        </li>
      </ul>
    </div>
    <div class="menuOverlay_nav_container">
      <span class="menuOverlay_nav_title">Компания</span>
      <ul>
        <li><a class="menuOverlay_nav_item" href="#">Блог</a></li>
        <li><a class="menuOverlay_nav_item" href="#">Обучение</a></li>
        <li>
          <a class="menuOverlay_nav_item" href="#">Стать представителем</a>
        </li>
        <li><a class="menuOverlay_nav_item" href="#">Контакты</a></li>
        <li>
          <a class="menuOverlay_nav_item" href="#"
            >Политика конфиденциальности</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
