<article class="trandItem_container">
  <button type="button" class="trandItem_favoriteBtn">
    @@include('../assets/images/dist/heart-fill.svg')
  </button>
  <span class="trandItem_discount">скидка</span>
  <div class="trandItem_img_wrapper">
    <picture class="img">
      <source srcset="./assets/images/dist/trandItem.avif" type="image/avif" />
      <source srcset="./assets/images/dist/trandItem.webp" type="image/webp" />
      <img src="./assets/images/dist/trandItem.png" alt="" />
    </picture>
  </div>
  <hr class="trandItem_divider" />
  <div class="trandItem_header">
    <span class="trandItem_title">Brown to blonde</span>
    <span class="trandItem_description">Пигмент для бровей</span>
    <span class="trandItem_weight">12 ml.</span>
    <div class="trandItem_amount">
      <span class="trandItem_amount_sale">1 500 ₽</span>
      <s class="trandItem_amount_del">3 000 ₽</s>
    </div>
  </div>
</article>
