<article class="trands_container">
  <div class="trands_header">
    <h3 class="trands_title">Тренды <span>сезона</span></h3>
    <a href="#" class="trands_linkCatalog"
      >Перейти в каталог
      @@include('../assets/images/dist/circle-chevron-right.svg')</a
    >
  </div>
  <div class="trandsSlider_container swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">@@include('./trandsSlide.html')</div>
      <div class="swiper-slide">@@include('./trandsSlide.html')</div>
      <div class="swiper-slide">@@include('./trandsSlide.html')</div>
      <div class="swiper-slide">@@include('./trandsSlide.html')</div>
      <div class="swiper-slide">@@include('./trandsSlide.html')</div>
      <div class="swiper-slide">@@include('./trandsSlide.html')</div>
      <div class="swiper-slide">@@include('./trandsSlide.html')</div>
      <div class="swiper-slide">@@include('./trandsSlide.html')</div>
    </div>
  </div>
  <a href="#" class="trands_linkCatalog"
    >Перейти в каталог
    @@include('../assets/images/dist/circle-chevron-right.svg')</a
  >
</article>
